<div class="container">
  <div class='row'> 
    <div class="col-md-12 mt-3 mb-3 text-truncate">
      <a href="/guitar-chords">Guitar Chords</a><span> / </span><span id="breadcrumb-artist"></span>
    </div>  
    <%if(userData){%>
      <%- include('./partials/components/add-song-button') %>
    <%} else {%>
      <%- include('./partials/components/login-prompt') %>
    <%}%>
    <div id="available-songs" class='col-md-10 offset-md-1'>
      <h4 id="artist-title" class='text-center mt-2'></h4>
      <ul id="page-results" class="list-group">
        <%- include('./partials/components/spinner') %>
      </ul>
      <%- include('./partials/components/pagination') %>
    </div>
  </div>
</div>