<%- include nav.ejs %>
    <div class="container">
        <div class='row'> 
            <div class="col-md-12 mt-3 mb-3 text-truncate">
                <a href="http://127.0.0.1:3000/guitar-chords">Guitar Chords</a><span> / </span><span id="breadcrumb-artist"></span>
            </div>  
            <%if(userData){%>
                <%- include makeSong.ejs %>
            <%} else {%>
                <%- include goToLogin.ejs %>
            <%}%>
            <div id="available-songs" class='col-md-10 offset-md-1'>
                <h4 id="artist-title" class='text-center mt-2'></h4>
                <ul id="page-results" class="list-group">
                    <div class="spinner"></div> 
                </ul>
                <nav id="pag-nav" class="mt-3" aria-label="Page navigation example">
                    <ul class="pagination justify-content-center"></ul>
                </nav>
            </div>
        </div>
    </div>
<%- include footer.ejs %>