<div class="container">
  <div class="row justify-content-center h-100">
    <div class="col-md-8 align-self-center my-auto">
      <h1 class="text-center mb-4">Create Account</h1>
      <form action="/auth/create-account" method="post">
        <%- include('./partials/components/form-input', { 
          label: 'Username', 
          name: 'username', 
          inputId: 'username',
          placeholder: 'JohnnyDee', 
          required: true,
          minlength: 4
        }) %>
        <%- include('./partials/components/form-input', { 
          label: 'Email address', 
          name: 'email', 
          inputId: 'email',
          type: 'email', 
          placeholder: 'johndoe@mail.com',
          required: true 
        }) %>
        <%- include('./partials/components/form-input', { 
          label: 'Password', 
          name: 'password', 
          inputId: 'password',
          type: 'password', 
          placeholder: 'At least 6 characters', 
          required: true,
          minlength: 6
        }) %>
        <div class="text-center"><button type="submit" class="btn btn-primary">Submit</button></div>
      </form>
    </div>
  </div>
</div>
