<%- include nav.ejs %>
<div class='container'>
    <div class='row justify-content-center h-100'>
        <div class='col-md-8 align-self-center my-auto'>
            <h1 class='text-center mb-4'> Create Account</h1>
            <% if (userEmail) {%>
              <span class='text-center'>Error: The user <%= userEmail %> already exists</span>
            <%} %>
            <form action="/auth/create-account" method="post">
                <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input type="text" class="form-control" name="username" id="username" placeholder="JohnnyDee">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="johndoe@mail.com">
                  </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" name="password" id="password" placeholder="At leat 6 characters">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              <h1>LOG IN</h1>
              <form action="/auth/local" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="username" id="username" placeholder="johndoe@mail.com">
                  </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" name="password" id="password" placeholder="At leat 6 characters">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            <!-- <a class='btn btn-block btn-social btn-google' href="/auth/google"><span class="fab fa-google"></span> Sign in with Google</a>
            <p class='text-center or'>Or</p>
            <a class='btn btn-block btn-light' href="/create-account"></span> Create new account</a> -->
        </div>
    </div>
</div>


