<div class='col-md-6 offset-md-3 mt-3 mb-5'>
    <h6 class="text-center">Wanna add songs yourself? You gotta login, man!</h6>
    <a href="/auth/login" type="button" class="btn btn-info d-block mx-auto"><h5>Login</h5></a>
</div>