<%- include('nav.ejs'); %>
<div class="container">
  <div class="jumbotron mt-3">
    <h1 class="display-4">Welcome to the Panther Lounge.</h1>
    <p class="lead">
      Take off your shoes and put on your slippers, it's time to relax.
    </p>
    <hr class="my-4" />
    <p>
      If you wanna play some songs and have some fun, click the button bellow
      and rejoice.
    </p>
    <a class="btn btn-primary btn-lg" href="/guitar-chords" role="button"
      >Check out some chords!</a
    >
  </div>
</div>
<%- include ('footer.ejs') %>