<%- include nav.ejs %>
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-4">Welcome to the Panther Lounge.</h1>
        <p class="lead">Take off your shoes and put on your slippers, it's time to relax.</p>
        <hr class="my-4">
        <p>If you wish to discover the philosophies of Peter Panther, the button below will help you.</p>
        <a class="btn btn-primary btn-lg" href="/philosophies" role="button">I'm at your service</a>
    </div>
    <div class="video-container bg-light p-4 row">
        <h4 class='mb-5 col-sm-12'>If reading is not an option, try these videos.</h4>
        <div class='video-item'>
            <iframe width="350" height="250" src="https://www.youtube.com/embed/xVlln8R8SWY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class='video-item'>
                <iframe width="350" height="250" src="https://www.youtube.com/embed/t12ZlNJC-x4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class='video-item'>
                <iframe width="350" height="250" src="https://www.youtube.com/embed/KgPnOS3anys" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
<%- include footer.ejs %>