<%- include('nav.ejs'); %>
<div class="container">
    <div class="row justify-content-center h-100">
        <div class="col-md-8 align-self-center my-auto">
            <h1 class="text-center mb-4">Log In</h1>
            <a class="btn btn-danger w-100 mb-2" href="/auth/google"><span class="fab fa-google me-2"></span>Sign in with Google</a>
            <a class="btn btn-primary w-100 mb-3" href="/auth/login-local"><i class="fas fa-cat me-2"></i>Login with your PantherLounge account</a>
            <p class="text-center or">Or</p>
            <a class="btn btn-secondary w-100" href="/auth/create-account">Create a new account</a>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12 align-self-center">
        <h4 class="text-center mb-3 text-secondary">While logged in you can add chords for new songs</h4>
    </div>
</div>


