<%- include nav.ejs %>
<div class='col-md-6'>
    <div class='col-md-6'>
        <h1>Login</h1>
        <a class='btn btn-block btn-social btn-google' href="google"><span class="fab fa-google"></span> Sign in with Google</a>
    </div>
</div>
