<%- include nav.ejs %>
<div class='container'>
    <div class='row justify-content-center h-100'>
        <div class='col-md-8 align-self-center my-auto'>
            <h1 class='text-center mb-4'> Come in and get cozy</h1>
            <a class='btn btn-block btn-social btn-google' href="google"><span class="fab fa-google"></span> Sign in with Google</a>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class='col-md-12 align-self-center'>
        <h4 class='text-center mb-3 text-secondary'>Are you asking yourself why should you login?</h4>
        <p class='text-center text-secondary'>The answer is: Why shouldn't you?</p>
        <p class='text-center text-secondary'>Also it's the only way you get to add a song yourself.</p>
    </div>
</div>


