<%- include('nav.ejs'); %>
<div class="container">
    <div class="row justify-content-center h-100">
        <div class="col-md-8 align-self-center my-auto">
            <h1 class="text-center mb-4"> Log In</h1>
            <a class="btn btn-block btn-social btn-google" href="/auth/google"><span class="fab fa-google"></span>Sign in with Google</a>
            <a class="btn btn-block btn-social btn-info" href="/auth/login-local"><i class="fas fa-cat"></i>Login with your PantherLounge account</a>
            <p class="text-center or">Or</p>
            <a class="btn btn-block btn-secondary" href="/auth/create-account"></span> Create a new account</a>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12 align-self-center">
        <h4 class="text-center mb-3 text-secondary">While logged in you can add chords for new songs</h4>
    </div>
</div>


