<div class='col-md-6 offset-md-3 mt-3 mb-5'>
    <a href='/<%=makeSongUrl%>' id="make-song" type="button" class="btn btn-success d-block mx-auto"><h6 class="my-auto">Add chords for another new song</h6></a>
</div>