<div class='col-md-6 offset-md-3 mt-3 mb-5'>
    <p class="text-center">Can't find the song you're looking for? What about creating it yourself?</p>
    <a href='<%=makeSongUrl%>' id="make-song" type="button" class="btn btn-success d-block mx-auto"><h6 class="my-auto">Make Song!</h6></a>
</div>