    <div id="toolbar">
        <!-- Add a bold button -->
        <button class="ql-bold"></button>
        <!-- Add subscript and superscript buttons -->
        <button class="ql-link"></button>
        <button id="chord-button">Chord</button>
    </div>